@model authServer.Entities.ApplicationRole
@{
    ViewData["Title"] = "View Role";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Role</a></li>
        <li class="breadcrumb-item active me-auto">@Model.Name</li>
        <li>
            <a asp-action="Edit" asp-route-id="@ViewBag.Role.Id" class="btn btn-outline-primary btn-sm">
                <i class="bi bi-pencil-fill"></i>
            </a>
        </li>
    </ol>
</nav>

<div class="row g-2">
    <div class="col-lg-12">
        <div class="card h-100">
            <div class="card-header">Basic Info</div>
            <div class="card-body">
                <div class="form-floating mb-3">
                    <span class="form-control">@Model.Name</span>
                    <label>Name</label>
                </div>
                <div class="form-floating mb-3">
                    <span class="form-control">@Model.Description</span>
                    <label>Description</label>
                </div>
            </div>
        </div>
    </div>

</div>
